body
{
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.calculadora 
{
	
}

.botao
{
	margin: 10px 0;
	background-color: pink;
	border-radius: 7px;
	color: gray;
	font-size: 15pt;
}

#subdec
{
	float: left;
}