body
{
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.calculadora 
{
	
}

.botao
{
	margin: 10px 0;
	background-color: pink;
	border-radius: 7px;
	color: gray;
	font-size: 15pt;
}

#subrede
{
	width: 45%;
	float: left;
	border-style: solid;
  	border-width: 3px;
  	border-color: gray;
  	padding: 5px;
}

#subdec
{
	width: 45%;
	float: right;
	border-style: solid;
  	border-width: 3px;
  	border-color: gray;
  	padding: 5px;
}
